In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_excel("/content/drive/My Drive/Colab Notebooks/OlympicAthletes.xlsx")

In [ ]:
df.head()

,Athlete,Age,Country,Year,Closing Ceremony Date,Sport,Gold Medals,Silver Medals,Bronze Medals,Total Medals
0,Michael Phelps,23.0,United States,2008,2008-08-24,Swimming,8,0,0,8
1,Michael Phelps,19.0,United States,2004,2004-08-29,Swimming,6,0,2,8
2,Michael Phelps,27.0,United States,2012,2012-08-12,Swimming,4,2,0,6
3,Natalie Coughlin,25.0,United States,2008,2008-08-24,Swimming,1,2,3,6
4,Aleksey Nemov,24.0,Russia,2000,2000-10-01,Gymnastics,2,1,3,6

In [ ]:
##I.Which countries have won the most medals?
medals = df.groupby('Country')
medals = medals['Total Medals'].sum()
medals = medals.sort_values(ascending=False)
medals.head()

Country
United States    1312
Russia            768
Germany           629
Australia         609
China             530
Name: Total Medals, dtype: int64

In [ ]:
#II.Which countries have won the most gold medals
gold_medals = df.groupby('Country')
gold_medals = gold_medals['Gold Medals'].sum().sort_values(ascending=False)
gold_medals.head()

Country
United States    552
Russia           234
China            234
Germany          223
Canada           168
Name: Gold Medals, dtype: int64

In [ ]:
#III.Which countries have won the most medals in a particular sport?
x = input('enter sport:')
sport_medals = df[df['Sport']==x]
medals = sport_medals.groupby('Country')['Total Medals'].sum().sort_values(ascending=False)
medals.head()

enter sport:Swimming

Country
United States    267
Australia        163
Netherlands       46
Japan             43
France            39
Name: Total Medals, dtype: int64

In [ ]:
#IV.Which athletes have won the most medals?
athlete_medals = df.groupby('Athlete')
athlete_medals = athlete_medals['Total Medals'].sum().sort_values(ascending=False)
athlete_medals.head()

Athlete
Michael Phelps          22
Natalie Coughlin        12
Ryan Lochte             11
Leisel Jones             9
Ole Einar Bjørndalen     9
Name: Total Medals, dtype: int64

In [ ]:
#V.Which athletes have won the most gold medals?
athlete_Goldmedals = df.groupby('Athlete')
athlete_Goldmedals = athlete_Goldmedals['Gold Medals'].sum().sort_values(ascending=False)
athlete_Goldmedals.head()

Athlete
Michael Phelps          18
Chris Hoy                6
Usain Bolt               6
Ole Einar Bjørndalen     5
Ian Thorpe               5
Name: Gold Medals, dtype: int64

In [ ]:
#VI.Which athletes have won the most medals in a particular sport?
x = input('Enter Sport Name:')
athlete_sportmedals = df[df['Sport']==x]
athlete_sportmedals = athlete_sportmedals.groupby('Athlete')['Total Medals'].sum().sort_values(ascending=False)
athlete_sportmedals.head()

Enter Sport Name:Swimming

Athlete
Michael Phelps      22
Natalie Coughlin    12
Ryan Lochte         11
Ian Thorpe           9
Leisel Jones         9
Name: Total Medals, dtype: int64

In [ ]:
#VII.Which age group have won the most number of medals?
medals_age = df.groupby('Age')
medals_age = medals_age['Total Medals'].sum().sort_values(ascending=False)
medals_age.head()

Age
24.0    807
26.0    765
25.0    763
23.0    757
27.0    724
Name: Total Medals, dtype: int64